{% extends 'nav.html' %}
{% block nav %}
    <h3 class="container-fluid bg-secondary text-light font-weight-bold text-center">MyORDER</h3>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock nav %}



{% block content %}

{% if messages %}
{% for i in messages %}
    {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{i}}</strong>
            <button type="button" class="close" style="display: inline;" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}
{% endif %}

    {% for i in order %}
        <div class="row jumbotron m-5">
            <div class="col">
                <img src="{{i.product.image.url}}" alt="img" height="300px" width="60%">
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">{{i.product.title}}</li>
                    <li class="list-group-item"><b>CATEGORY</b> :{{i.product.category}}</li>
                    <li class="list-group-item"><b>PRICE</b> :{{i.product.price}}</li>
                    <li class="list-group-item"><b>QUANTITY</b> :{{i.quantity}}</li>
                    <li class="list-group-item"><b>ORDERED DATE</b> : {{i.date}}</li>
                    <li class="list-group-item"><b>ADDRESS TO BE DELIVERED</b> : {{i.address}}. {{i.phone}}</li><!--ADDRESS+PHONE-->
                    <li class="list-group-item">
                        {% if i.status == 'order placed' %}
                            <p class="text-secondary">{{i.status}}</p>
                            <a href="{% url 'c_order' i.id %}" class="btn btn-danger" onclick=" return confirm('Cancel order')">CANCEL</a>
                        {% endif %}
                        {% if i.status == 'shipped' %}
                            <p class="text-info">{{i.status}}</p>
                            <a href="{% url 'c_order' i.id %}" class="btn btn-danger" onclick=" return confirm('Cancel order?')">CANCEL</a>
                        {% endif %}
                        {% if i.status == 'order pending' %}
                            <p class="text-warning">{{i.status}}</p>
                            <a href="{% url 'c_order' i.id %}" class="btn btn-danger" onclick=" return confirm('Cancel order?')">CANCEL</a>
                        {% endif %}
                        {% if i.status == 'out for delivery' %}
                            <p class="text-primary">{{i.status}}</p>
                        {% endif %}
                        {% if i.status == 'delivered' %}
                            <p class="text-success">{{i.status}}</p>
                        {% endif %}
                        {% if i.status == 'order canceled' %}
                            <p class="text-danger" style="display: inline;">{{i.status}}</p>
                            <div class="text-end">
                                <a href="{% url 'd_order' i.id %}">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}

{% endblock content %}